html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* navbar */

.nav-item {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 8px 3px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}


/* navbar end */
/* dropdown */
.dropdown-menu {
  /* background: red; */
  width: 150px;
  position: absolute;
  top: 55px;
  list-style: none;
  text-align: start;
  
}

.dropdown-menu li {
  background: #1888ff;
  cursor: pointer;
  padding: 8px 0px;
  text-transform: uppercase;
}

.dropdown-menu li:hover {
  background: #5cabff;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
/* dropdown end */
